.map {
  overflow: visible;
  height: 100vh;
}

.overlay-metrics {
  height: 300px;
  width: 200px;
  background-color:white;
  z-index: 1;
  position: absolute;
  top: 10vh;
  left: 82vw;
  opacity: 0.9;
}

.overlay-legend {
  height: 140px;
  width: 200px;
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 55vh;
  left: 82vw;
  opacity: 0.7;
}

.metric-title {
  text-align: center;
  background-color: blue;
  color: white;
  padding: 1%;
}

.legend-title {
  text-align: center;
  background-color: blue;
  color: white;
  padding: 1%;
}

.legend-high-color {
  height: 20px;
  width: 20px;
  background-color: red;
  float: left;
  margin-left:20px;
}

.legend-medium-color {
  height: 20px;
  width: 20px;
  background-color: orange;
  float: left;
  margin-left:20px;
}

.legend-low-color {
  height: 20px;
  width: 20px;
  background-color:yellow;
  float: left;
  margin-left:20px;
}

.legend-high-text {
  float: left;
  margin-left:20px;
}

.legend-medium-text {
  float: left;
  margin-left:20px;
}

.legend-low-text {
  float: left;
  margin-left:20px;
}

.legend-high {
  width: 200px;
  height: 20px;
  margin-top: 20px;
  margin-left: 20%;
}

.legend-medium {
  width: 200px;
  height: 20px;
  margin-left: 20%;
}

.legend-low {
  width: 200px;
  height: 20px;
  margin-left: 20%;
  margin-bottom:60px;
}